.main{
  min-height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  position: absolute;
  top: 0;
  margin-top: 50px;
  font-size: 20px;
}